!DOCTYPE html
html( labng="en" )
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(property='og:title' content='portfolio')
  meta(property='og:image' content='/assets/portfolio_image.png')
  meta(property='og:description' content='personal Website')
  meta(property='og:url' content='https://puzant.github.io/portfolio/')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css')
  link(rel='stylesheet' href='animate.css')
  link(href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel='stylesheet')
  link(rel='stylesheet' href='style.css')
  title Portfolio