@import './variables';

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('tff');
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd,
ol, ul,
figure, hr,
fieldset, legend,
button, input, textarea {
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: $primaryBackgroundColor;
  font-family: 'Poppins', sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

.outerContainer {
  position: relative;

  .mainContainer {
    width: 80%;
    margin: 0 auto;
    @media (max-width: 768px) {
      width: 90%; 
    }
    .sidebarItemsContainer {
      display: flex;
      align-items: start;
      gap: 100px;
      padding: 20px;
      @media (max-width: 768px) {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 30px;
        flex-direction: column;
      }
    }
  
    .mainSections {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      @media (max-width: 768px) {
        gap: 20px;
      }
    }
  }

  .fade-in {
    opacity: 1;
    transform: translateY(25px);
    transition: opacity .5s ease-out, transform 0.6s ease-out;
    @media (max-width: 768px) {
      transform: translateY(2px);
    }
  }

  .hidden {
    opacity: 0;
    transition: opacity .5s ease-out;
  }
  
}
