$primaryBackgroundColor: #151312;
$secondaryBackgroundColor: #1C1A19;
$primaryColor: #998f8f;
$secondaryColor: #b6b4bd33;

$white: #fff;
$black: #111;
$orange: #f46c38;
$error: #d9534f;

$inputFocus: 0 0 5px #fc8a1e80;
$inputErrorFocus: 0 0 5px #f6370c80;
$labelColor: #888;

@mixin sectionTitle {
  font-size: clamp(40px, 6vw, 90px);
  line-height: 1;
  font-weight: bold;
  
  p:first-child {
    color: $white;
  }
  p:last-child {
    color: $secondaryColor;
  }
}

@mixin responsive-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

@mixin liftEffect {
  &:hover {
    transform: translateY(-5px);
    background-color: #1A1817;
    box-shadow: 0 8px 15px #00000033;
  }
}

@mixin styledInput {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: $secondaryColor;
  color: $white;
  transition: border-color 0.5s ease, box-shadow 0.3s ease;
}

@mixin inputFocus {
  &:focus {
    outline: none;
    border-color: $orange;
    box-shadow: $inputFocus;
  }
}

@mixin tooltip($isVertical: false) {
  position: relative;
  cursor: pointer;

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  .tooltip-text {
    visibility: hidden;
    background-color: $secondaryBackgroundColor;
    color: $white;
    text-align: center;
    padding: 7px 12px;
    border-radius: 12px;
    position: absolute;
    @if $isVertical {
      top: 0;
      right: calc(100% + 30px);
    } @else {
      top: 150%;
      left: 50%;
      transform: translateX(-50%);
    }
    opacity: 0;
    transition: opacity .5s;
  }
}